<center><h1><font color='green'>Datalab BigQuery integration </font></h1></center>
<br/>

<h2>03_02. Using Big Query Commands </h2>

In [1]:
%%bq --help

usage: %bq [-h]
           {datasets,tables,query,execute,extract,sample,dryrun,udf,datasource,load,pipeline}
           ...

Execute various BigQuery-related operations. Use "%bq <command> -h" for help
on a specific command.

positional arguments:
  {datasets,tables,query,execute,extract,sample,dryrun,udf,datasource,load,pipeline}
                        commands
    datasets            Operations on BigQuery datasets
    tables              Operations on BigQuery tables
    query               Create or execute a BigQuery SQL query object,
                        optionally using other SQL objects, UDFs, or external
                        datasources. If a query name is not specified, the
                        query is executed.
    execute             Execute a BigQuery SQL query and optionally send the
                        results to a named table. The cell can optionally
                        contain arguments for expanding variables in the
                        query.
    extract             Extract a query or table into file (local or GCS)
    sample              Display a sample of the results of a BigQuery SQL
                        query. The cell can optionally contain arguments for
                        expanding variables in the query, if -q/--query was
                        used, or it can contain SQL for a query.
    dryrun              Execute a dry run of a BigQuery query and display
                        approximate usage statistics
    udf                 Create a named Javascript BigQuery UDF
    datasource          Create a named Javascript BigQuery external data
                        source
    load                Load data from GCS into a BigQuery table. If creating
                        a new table, a schema should be specified in YAML or
                        JSON in the cell body, otherwise the schema is
                        inferred from existing table.
    pipeline            Creates a GCS/BigQuery ETL pipeline. The cell-body is
                        specified as follows: input: table | path: <BQ table
                        name or GCS path; both if path->table load is also
                        required> schema: <For syntax, refer '%bq execute'>
                        format: {csv (default) | json} csv: <This section is
                        relevant only when 'format' is 'csv'> delimiter: <The
                        field delimiter to use; default is ','> skip: <Number
                        of rows at the top of a CSV file to skip; default is
                        0> strict: <{True | False (default)}; whether to
                        accept rows with missing trailing (or optional)
                        columns> quote: <Value used to quote data sections;
                        default is '"'> mode: <{append (default) | overwrite};
                        applicable if path->table load> transformation:
                        <optional; when absent, a direct conversion is done
                        from input (path|table) to output (table|path)> query:
                        <name of BQ query defined via "%bq query --name ...">
                        output: table | path: <BQ table name or GCS path; both
                        if table->path extract is required> mode: <{append |
                        overwrite | create (default)}; applicable only when
                        table is specified. format: <{csv (default) | json}>
                        csv: <This section is relevant only when 'format' is
                        'csv'> delimiter: <the field delimiter to use.
                        Defaults to ','> header: <{True (default) | False};
                        Whether to include an initial header line> compress:
                        <{True | False (default) }; Whether to compress the
                        data on export> schedule: start: <formatted as
                        '%Y-%m-%dT%H:%M:%S'; default is 'now'> end: <formatted
                        as '%Y-%m-%dT%H:%M:%S'; default is 'forever'>
                        interval: <{@once (default) | @hourly | @daily |
                        @weekly | @ monthly | @yearly | <cron ex>}> catchup:
                        <{True | False (default)}; when True, backfill is
                        performed for start and end times. retries: Number of
                        attempts to run the pipeline; default is 0
                        retry_delay_seconds: Number of seconds to wait before
                        retrying the task emails: <comma separated list of
                        emails to notify in case of retries, failures, etc.>
                        parameters: <For syntax, refer '%bq execute'>

optional arguments:
  -h, --help            show this help message and exit

In [4]:
%%bq tables list

<h2>03_03.Reading data from BigQuery</h2>

Big Query queries can be directly executed using the bq command option

In [1]:
%%bq query
SELECT CustomerName,Gender,Age,Salary
FROM EDA.website_visits 
WHERE CustomerType=1
LIMIT 10

QueryResultsTable job_Iv2XPJVcB-VmiJta7r5hIvpJnkl8

<h4>Creating named Queries </h4>

In [2]:
%%bq query --name customer
SELECT CustomerName,Gender,Age,Salary
FROM EDA.website_visits 
WHERE CustomerType=1
LIMIT 10

<h2>03_04.Working with Data Frames <h2>

<h4>Reading from a BigQuery table to a DataFrame</h4>

In [1]:
#import BigQuery library
import google.datalab.bigquery as bq

#create a query object
cust_query = bq.Query('SELECT CustomerName,Gender,Age,Salary FROM EDA.website_visits WHERE CustomerType=1 LIMIT 10')

#Execute the query and create a results object
output_options = bq.QueryOutput.table(use_cache=False)
cust_results = cust_query.execute(output_options=output_options).result()

#Convert the results objects to a dataframe
cust_df = cust_results.to_dataframe()
print(cust_df)

         CustomerName  Gender  Age  Salary
0      Tiuit,Douglas     Male   17     196
1    Cheese,Claiborn     Male   17     101
2       Suarez,Clyde     Male   17      80
3        Bergen,Jory     Male   17     102
4      Itzkovsky,Gus     Male   17      21
5    Screeton,Marius     Male   17     164
6   Carletto,Franzen     Male   17     155
7        Oakes,Homer     Male   17      52
8  Theressa MacDermid  Female   17     150
9        Henrie Moyce  Female   17      95

<h2>03_05.Writing to BigQuery</h2>

In [2]:
#Get schema from existing dataframe
schema = bq.Schema.from_data(cust_df)

#create table with schema
cust_1_table = bq.Table('EDA.Type1Customers').create(schema = schema, overwrite = True)

In [3]:
#insert data into the new table
cust_1_table.insert(cust_df)

BigQuery Table - name: course-prep.EDA.Type1Customers

In [4]:
#Query data in the table to see the rows inserted
%%bq query 
SELECT * FROM EDA.Type1Customers

QueryResultsTable job_AnLlHwJBdtzvqLQ12kTULVNQTgi-